:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #ac5d5d;
  --border: #e5e4e7;
  --code-bg: #e6dc9d;

  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);

  --social-bg: rgba(244, 243, 236, 0.5);

  --navbar-text: #ffffff;
  --navbar-text-hover: var(--accent);

  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;

  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Responsive font */
@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }
}

/* Reset */
body {
  margin: 0;
}

/* Root container */
#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* Headings */
h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 20px;
  }
}

p {
  margin: 0;
}

/* Code styling */
code {
  font-family: var(--mono);
  font-size: 15px;
  padding: 4px 8px;
  background: var(--code-bg);
  border-radius: 4px;
  color: var(--text-h);
}

.navbar {
  background-color: #232749 !important;
}

.navbar .nav-link {
  color: var(--navbar-text) !important;
  transition: color 0.2s ease;
}

.navbar .nav-link:hover {
  color: var(--navbar-text-hover) !important;
}

.navbar-brand {
  color: var(--navbar-text) !important;
}
